@font-face {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: normal;
  src:
    local('HKGrotesk'),
    url('../assets/fonts/HKGrotesk-Regular.otf') format('otf'),
    url('../assets/fonts/HKGrotesk-Regular.ttf') format('truetype');
    url('../assets/fonts/HKGrotesk-SemiBold.otf') format('otf');
    url('../assets/fonts/HKGrotesk-SemiBold.ttf') format('truetype');
    url('../assets/fonts/HKGrotesk-Light.otf') format('otf');
    url('../assets/fonts/HKGrotesk-Light.ttf') format('truetype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

#renderCanvas {
  width   : 100%;
  height  : 100%;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
}
#renderCanvas:focus{
  outline: none;
}

body > * {
  user-select: none;
}

h1, h2, h3, h4, h5, h6, ul p {
  font-family: 'HKGrotesk-Light', serif;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

li, p {
  font-family: 'Lora', sans-serif;
}

div.page {
  background: rgb(71,71,71);
  background: linear-gradient(60deg, rgba(64,64,64,1) 0%, rgba(45, 45, 45, 1) 19%, rgba(42,42,42,1) 70%, rgba(45, 45, 45, 1) 85%, rgba(64,64,64,1));
  color: #ecf0eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0.97;
}

main {
  text-align: center;
  padding-bottom: 24vh;
}

main h1 {
  font-size: 6.1vh;
  margin: 0 0 0.3em;
}

main p {
  font-size: 1.8vh;
  margin: 0;
}

footer {
  font-size: 1.1vh;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
}
ul {
  padding: 2px;
}
ul p {
  font-size: 2.3vh;
  margin-bottom: 8px;
}
li {
  padding-bottom: 4px;
  font-size: 1.6vh;
  list-style: none;
}
